<!DOCTYPE html>
<html lang="en">

<head>
  {% include head.html %}
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    {% include header.html %}
  </header><!-- End Header -->

  <!-- ======= hero Section ======= -->
  {{content}}
  <!-- ======= Footer ======= -->
  <footer>
    {% include footer.html %}
  </footer><!-- End  Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  {% include jscript.html %}

</body>

</html>